<div class="js-sect-view-search">

  <%= form_tag(search_view_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], id: "q", placeholder: "Search Place" %>
    <%= submit_tag "Search" , id: "find" %>
  <% end %>
  <div map-wrapper data-q="<%= @q %>" data-icon-url="<%= asset_url 'markers/store.png' %>">
    <div id="map" class="map1">
    </div>
  </div>

  <table class="js-sect-view-search-table-tr-listPlace">
    <tr>
    <td colspan="2">
      <button id="js-sect-view-search-more">More results</button>
    </td>
    <td colspan="2">
      <button id="js-sect-view-search-myLocation">My Location</button>
    </td>
    <td colspan="2">
      <button class="js-sect-view-search-setNavigation">Set navigation</button>
    </td>
    </tr>
    <tr>
      <th>No</th>
      <th>Place Name</th>
      <th>Address</th>
      <th>Types</th>
      <th>Operation</th>
    </tr>
  </table>
  <!-- <div id="map1" class="map2">

  </div> -->
</div>
